<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="3xpcoIQ9kwWdXUbyM8asUeT6xyT6ViWkumPAxeNq">

    <title>SESTOPIA</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://softwarewiki.faridibin.tech/favicon.png">

    <!-- Scripts -->
    <script src="https://softwarewiki.faridibin.tech/js/app.js?v=2020-08-08" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="https://softwarewiki.faridibin.tech/css/app.css?v=2020-08-08" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="loader">
            <div class="loading-animation"></div>
        </div>

        <div class="navbar-container">
            <nav class="navbar navbar-expand-lg bg-white" data-sticky="top">
                <div class="container">
                    <a class="navbar-brand" href="https://softwarewiki.faridibin.tech">
                        <img alt="SESTOPIA" src="https://softwarewiki.faridibin.tech/images/logo.png" class="py-1"
                            height="40">
                    </a>
                    <div class="d-flex align-items-center order-lg-3">
                        <a href="#subscribe" data-toggle="modal"
                            class="btn btn-primary text-white ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Subscribe</a>
                        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                            data-target=".navbar-collapse" data-toggle="collapse" type="button">
                            <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm"
                                src="https://softwarewiki.faridibin.tech/images/icon-menu.svg">
                            <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm"
                                src="https://softwarewiki.faridibin.tech/images/icon-x.svg">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end"
                        id="navigation-menu">
                        <ul class="navbar-nav my-3 my-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link" href="https://softwarewiki.faridibin.tech">Home</a>
                            </li>
                            <li class="nav-item active">
                                <div class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true"
                                        class="dropdown-toggle nav-link nav-item arrow-bottom"
                                        data-toggle="dropdown-grid" href="#" role="button">Skills</a>
                                    <div class="row dropdown-menu">
                                        <div class="col-auto" data-dropdown-content>
                                            <div class="dropdown-grid-menu">
                                                <a href="https://softwarewiki.faridibin.tech/skills/coding"
                                                    class="dropdown-item active">
                                                    Coding
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/elicitation-of-requirements"
                                                    class="dropdown-item ">
                                                    Elicitation of Requirements
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/high-quality-documentation"
                                                    class="dropdown-item ">
                                                    High Quality Documentation
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/planning-measurement-process"
                                                    class="dropdown-item ">
                                                    Planning Measurement Process
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/problem-solving"
                                                    class="dropdown-item ">
                                                    Problem Solving
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/regression-testing"
                                                    class="dropdown-item ">
                                                    Regression Testing
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/user-interface-prototyping"
                                                    class="dropdown-item ">
                                                    User Interface Prototyping
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/verification-and-validation"
                                                    class="dropdown-item ">
                                                    Verification and Validation
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <form class="mt-3 mt-lg-0" method="GET" action="/search">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white pr-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-xs bg-dark"
                                            data-src="assets/img/icons/interface/icon-search.svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path
                                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                                stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                            <path d="M21 21L16.65 16.65" stroke="#2C3038" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <!-- Code injected by live-server -->
                                        </svg>
                                    </span>
                                </div>
                                <input class="form-control" placeholder="Type your search" type="search" name="q"
                                    value="">
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <section class="bg-light">
            <div class="container">
                <div class="row justify-content-between align-items-start">
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="d-flex">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="https://softwarewiki.faridibin.tech/skills">Skills</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="https://softwarewiki.faridibin.tech/skills/coding">Coding</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                         <h2 class="h1 mt-4">Release Management  <small>By Saikiran Alagatham (40103833)</small></h2>
                        <a href="#" class="badge badge-dark mb-3">Release Management</a>
                        <hr class="my-md-2 my-lg-3">
                        <div class="row">
                            <div class="col-xl-11">
                                <article class="article">
                                    <a href="#name-of-skill" class="text-dark h4 d-block" id="name-of-skill">Release Management</a>
									<div class="lead" style="padding-top:10px;padding-bottom:30px"> One of core process in software development is Release management, it overseas all the stages involved in the software release from development, testing to deployment. Release management increases the number of successful releases by an organisation, thereby reducing the quality problems. Apart from reducing the risk, it improves Productivity, communication and coordination within the organisation.
									</div>
                                    <a href="#classification-of-skill" class="text-dark h4 d-block"
                                        id="classification-of-skill">Classification of Skill</a>
										<p>
                                        Release Management is a technical skill which has to be acquired by learning and practising.  It is further classified as a management skill, or one of the electives of management.  Release management skills equip the Release managers with necessary management skills for implementing and managing release processes for code through development, test and production. This is often referred as Release Management lifecycle. 
</p>

<p>
The release Management lifecycle starts when the release manager receives a request for change or a new features. During this entire lifecycle, managers are responsible for scheduling, coordinating and management of releases across the enterprise for multiple applications across various portfolios, there will be multiple stakeholder, multiple tasks, multiple milestones, and all these entities can be managed by the Release manager using proper management tools and management skills.  Skills for effective management of a project releases(PMI, 2019) are: 
<li>Communication skills</li>
<li>Leadership skills</li>
<li>Organization skills</li>
<li>Management skills</li>
<li>Technical Skills (Software Engineering)</li>
<li>Problem solving skills</li>
<li>Knowledge on Project Management methodologies (PMBOK /Prince)</li>
<li>Conflict Management skills</li>
<li>Research skills and Policy knowledge</li>
</p>

<p>
It can be said that Release  management is a parent skill, with multiple child skills. 
</p>
                                    <a href="#prerequisites-for-skill" class="text-dark h4 d-block"
                                        id="prerequisites-for-skill">Prerequisites for Skill</a>
										<p>
Conventionally, there are no defined pre-requisites for Release management as a skill, and there are no mandates related to release management, which the release manager should have. However, in order to gain expertise in release management, a person should be well versed with the domain. As a major pre-requisite he/she should have a complete understanding the software development lifecycle (SDLC) (Boyde, 2014). This is will help him/her to understand the project phases and will be helpful in planning and integrating the different project phases. Ideally, he/she should have executed software development project as team member or might have managed a project as iteration manager or project manager.
</p>

<p>
Having these pre-requisites will definitely help to manage a software engineering project as a whole. Another key prerequisite will be knowledge of ITIL processes (Thakur, 2018). This involves change management process, incident management process and problem management process. These processes are often used in different phases of the project. For example, integrating a application module into a live environment will require the release manager to schedule a change, and then perform the integration. If the integration fails, then he might have to look into problem management. So, without proper knowledge of ITIL processes these activities will be difficult to implement.
</p>

      
      
<a href="#related-software-engineering" class="text-dark h4 d-block"
                                        id="related-software-engineering">Related Software Engineering Area(s)</a>
										<p>
									Release management is a subset of Project Management and also it’s a part of Change Management that deals with inherent turbulence of software engineering.  Even though the SDLC defines the development of a software product, its implementation is still dependent on the project management methodologies. Typically, this is done through planning, execution, monitoring and control. Moreover, software is an intangible product, and it is important that the developed project meets the requirements of the clients. Typically, the clients requirements changes as the project progress thereby introducing release managers to solve the problem. 
										</p>
                                    <a href="#rationale-for-skill" class="text-dark h4 d-block"
                                        id="rationale-for-skill">Rationale for Skill</a>
										<p>
											In case of software engineering, Release management is a glue that holds all the key aspects of SDLC together, including business and functional requirements. There quite a number of reasons on why release management skills are essential, or why a dedicated release manager is required to manage the project releases (Ahmed, 2016). Some of the key reasons are:

                                            </p>

<p><li><b>Understanding the differences between a change and release :</b> Change and Release Management sit in the transition stage of ITIL lifecycle [9]. Change represents the addition or modification or removal of anything from the product/project whereas Release is collection of hardware, software, documentation, processes and other components required to implement requested change. </li></p>
<p><li><b>Standardizing Releases :</b> Release Management helps in standardizing and streamlining the development and operations process, the team creates a repository for all the releases throughout the lifecycle with auditable release controls. A single, well-documented process will increase the organizational maturity. </li></p>
<p><li><b>Processes and policies:</b>As the project progresses, different anomalies will be detected. These anomalies must be analysed, and some actions have to be performed. The release managers have to take those actions by making policies and procedures. </li></p>
<p><li><b>Schedule Development :</b> Development of a software product is a time bound activity, as the product needs to be delivered to the client within a specified deadline. The release manager has to develop forecasting skills to create the project schedule</li></p>
<p><li><b>Development of project plan and process :</b> Software development is done in multiple phases/ releases and without a proper plan integrating the phases will be difficult. There should be a clear plan, along with the process to integrated each of the phases into a single project. </li></p>
<p><li><b>Quality Control:</b> Release manager ensures the product is developed as per the acceptance criteria and metrics document in Scope of Work (SOW). This ensures complete quality control. </li></p>

										
                                    <a href="#roles-for-skill" class="text-dark h4 d-block" id="roles-for-skill">Roles
                                        for Skill</a>
										<p>
											Release Management applies to various industries, in software engineering a software release manager and program manager looks after release management. A Release manager is first and foremost a project manager who looks after the software from conception to deployment. </p>

<p><li>Monitoring the progress to ensure the release of applications are on time and in the budget of estimation. </li></p> 

<p><li> Communicating all the key project plans, changes, QA plans, scope requirements with team. </li></p>

<p><li> Managing relationship between different teams and managing risks and resolving issues that affect the scope, schedule and quality. </li></p>

<p><li> Creating a release schedule for all the core services and ensuring the alignment across key partners and vendors. </li></p>

<p><li > Developing the automation tools and scripts to build, integrate, and deploy software releases. </li></p>
											
                                  



  <a href="#work-related-to-skill" class="text-dark h4 d-block"
                                        id="work-related-to-skill">Work Related to Skill</a>




<p>Release management follows a wee defined path, it usually begins at the first stage of development cycle when there is a request for a change or a new feature. Once the request is approved the release manager along with the team design the new release and planning begins. The developers build the release, testing takes place and modifications may be done based on the test results. Once the release is accepted by the manager, it moves into deployment and made available for the end users.</p>
<p> The following picture depicts the entire process:</p>

<p><img src="https://www.smartsheet.com/sites/default/files/IC-Release-Management-Cycle.jpg" alt="Release Management Cycle" width="300" height="300"></p>
<br>


										 <p>
											The release manager needs to be well aware of all the phases of software development lifecycle. They need know the impact of a change, how this change affects the requirements, schedule, functional specs, development and deployment of the release. A Release Manager must focus on automation of tasks, they have to build processes, methods, tools and reports that help them to make decisions whether to release a version of software or not, rather than relying on stakeholders for every decision.

</p>

<p>
A Release Manager has to have knowledge on the following tools:         
</p>
                                            
<p><li><b>Release Management Tools :</b> Release management involves release of the software after development phase and test phase. Even though the release management manages the completely development cycle, it should not be confused with overall project management. Project management is for management of complete project, while release management is for managing the development at each and every stage. A project manager needs to be aware of ITIL processes, SDLC and release management tools. </li></p>

<p><li><b>Test Case Management tools :</b> Even though test cases are managed by the testing team, usage of test case management tools can automate the testing phase and make it more effective, completing the test in a shorter span of time. Even though the release manager will not be performing any testing, he/she needs to collect the metrics for testing, information about test components, documentation about test assets, and defect management, and integrate these details into the project report. That is project manager should be aware for test case management tools. </li></p>

<p><li><b>Iteration Management :</b> In a typical software development environment, project is refined with every iteration, unless it is not appropriate of final delivery. In every iteration a specific feedback is developed, and the same is shared with the development team, who incorporates in the product, and prepares for the next iteration. The project manager doubles up as an iteration manager and is responsible for managing all the iterations in a typical project. This involves involving the stakeholders for each of the iterations, collecting the data from each iteration, and sharing the output with the stakeholders. 
</li></p> 
											
											
											
											
   <a href="#real-world-example" class="text-dark h4 d-block"
                                        id="real-world-example">Real-World Example</a>
	

<p> 
As most of the software moved into Software as a Service (SaaS) model, the release management has become a vigorous process. Especially in the case of business which have far more changes and feature request that has continuous delivery pipelines.

</p>

<p> 
In order speed up the delivery process, release managers use release management tools like JIRA which are used  create new versions of the software by reusing the already  existing versions and by automating the routine operations which are done in each release. The following short video represent how the release managers actually plans a each release :

</p>


<p> 
<iframe width="560" height="315" src=" https://www.youtube.com/embed/SDXNMVOGfoM
" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</p>
										







<a href="#role-of-academia" class="text-dark h4 d-block" id="role-of-academia">Role
                                        of Academia or Industry in Cultivating the Skill</a>
										<p>
											Research papers and academic books nurture the idea of elicitation. 
											Currently, there is a focus on the types of interviews being done, and whether they are structured interviews or unstructured, to check which collects more information compared to the other.
											Different research papers are conducting surveys and evaluating some techniques for eliciting requirements of computer-based systems, paying particular attention to how they deal with social issues.
										</p>
  



<a href="#tools-supporting-the-skill" class="text-dark h4 d-block"
                                        id="tools-supporting-the-skill">Tools Supporting the Skill</a>
	<p>
There are various tools that are available in the market for release management. Some of the most popular tools are:
</p>

<li> Automic: This tool automates the integration there by providing added advantage. </li>
<li> BMC Release Process: This tool allows to deploy changes to the applications with lightweight, web-based task co-ordination and execution </li>
<li> CA Release:  This tool enables continuous delivery for agile software development. </li>
<li> Micro Focus Release: This is used to manage the release management lifecycle from development, deployment to production. </li>
<li> Plutora: This provides high-quality automated software through continuous delivery management. </li>
<li> Urban Code Release and XL Release are some of the other tools which are used in release management. </li>
<br>
<br>
							
										
                                







  



  <a href="#skill-self-assessment" class="text-dark h4 d-block"
                                        id="skill-self-assessment">Skill Self-Assessment</a>
										<p>
											I would rate myself as 6 on this skill. I am a team player, and I often look to take up the responsibilities. On the other hand, I manage to finish my tasks and assignments in time, and that is why I feel I am good at time management. However, I am still exploring SDLC, and I lack experience in implementing a software project, which is a definite drawback in this case. I also lack exposure to the project management tools which is again a challenge for me.  To summarise, I have leadership qualities and interpersonal skills, but I lack exposure to a real world SDLC and the release management tools, which justifies the rating I have given to myself.
										</p>
                                    <a href="#references" class="text-dark h4 d-block" id="references">References</a>
									
									   <p>
											<ol type="1">
												Please find below the list of references used in writing this web page:
												<br>
												<br>
												






<li> Boyde, J., 2014. A Down-To-Earth Guide To SDLC Project Management (2nd Edition). New York: Springer. </li>
<li> PMI, 2019. A Guide to the Project Management Body of Knowledge. Chicago: s.n. </li>
<li> PMI, 2019.Software Release Management. </li>
<li> Thakur, A., 2018. The ITIL® v3 - Basics: Get to know a Successful Project Manager. New Delhi: Springer. </li>
<li> Ahmed, A., 2016. Software Project Management: A Process-Driven Approach. Chicago: CRC Press. </li>
<li> Axelos, ITIL certifications in release, control and validation</li>
<li> Plutora , Release Management  ‘ https://www.plutora.com/blog/release-manager-job’ </li>
<li> CM crossroads, What is Release Management and why we need it ‘https://www.cmcrossroads.com/article/what-release-management-and-why-it-needed’ </li>


												
											</ol>
										</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col sticky-lg-top">
                        <div class="pl-xl-0">
                            <ul class="list-group mb-3 mb-md-4">
                                <div class="list-group-item">
                                    <h5 class="mb-0">Page Content</h5>
                                </div>
                                <a href="#name-of-skill" class="list-group-item list-group-item-action py-2">Name of
                                    Skill</a>
                                <a href="#classification-of-skill"
                                    class="list-group-item list-group-item-action py-2">Classification of Skill</a>
                                <a href="#prerequisites-for-skill"
                                    class="list-group-item list-group-item-action py-2">Prerequisites for Skill</a>
                                <a href="#related-software-engineering"
                                    class="list-group-item list-group-item-action py-2">Related Software Engineering
                                    Area(s)</a>
                                <a href="#rationale-for-skill"
                                    class="list-group-item list-group-item-action py-2">Rationale for Skill</a>
                                <a href="#roles-for-skill" class="list-group-item list-group-item-action py-2">Roles for
                                    Skill</a>
                                <a href="#work-related-to-skill"
                                    class="list-group-item list-group-item-action py-2">Work Related to Skill</a>
                                <a href="#real-world-example"
                                    class="list-group-item list-group-item-action py-2">Real-World Example</a>
                                <a href="#role-of-academia" class="list-group-item list-group-item-action py-2">Role of
                                    Academia or Industry in Cultivating the Skill</a>
                                <a href="#tools-supporting-the-skill"
                                    class="list-group-item list-group-item-action py-2">Tools Supporting the Skill</a>
                                <a href="#skill-self-assessment"
                                    class="list-group-item list-group-item-action py-2">Skill Self-Assessment</a>
                                <a href="#references" class="list-group-item list-group-item-action py-2">References</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class=" pt-4 pb-4 footer-1">
            <div class="container">
                <div
                    class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                    <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                            <div class="text-muted">
                                &copy; 2020 SESTOPIA - Team A
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mt-3 mt-lg-0">
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-3">
                                <a href="#" class="hover-fade-out">
                                    <img src="https://softwarewiki.faridibin.tech/images/github.svg" alt="Github"
                                        class="icon icon-xs bg-white" data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
            data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
            <img src="https://softwarewiki.faridibin.tech/images/icon-arrow-up.svg" alt="Icon" class="icon">
        </a>
    </div>
</body>

</html>

