<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="3xpcoIQ9kwWdXUbyM8asUeT6xyT6ViWkumPAxeNq">

    <title>SESTOPIA</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://softwarewiki.faridibin.tech/favicon.png">

    <!-- Scripts -->
    <script src="https://softwarewiki.faridibin.tech/js/app.js?v=2020-08-08" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="https://softwarewiki.faridibin.tech/css/app.css?v=2020-08-08" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="loader">
            <div class="loading-animation"></div>
        </div>

        <div class="navbar-container">
            <nav class="navbar navbar-expand-lg bg-white" data-sticky="top">
                <div class="container">
                    <a class="navbar-brand" href="https://softwarewiki.faridibin.tech">
                        <img alt="SESTOPIA" src="https://softwarewiki.faridibin.tech/images/logo.png" class="py-1"
                            height="40">
                    </a>
                    <div class="d-flex align-items-center order-lg-3">
                        <a href="#subscribe" data-toggle="modal"
                            class="btn btn-primary text-white ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Subscribe</a>
                        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                            data-target=".navbar-collapse" data-toggle="collapse" type="button">
                            <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm"
                                src="https://softwarewiki.faridibin.tech/images/icon-menu.svg">
                            <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm"
                                src="https://softwarewiki.faridibin.tech/images/icon-x.svg">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end"
                        id="navigation-menu">
                        <ul class="navbar-nav my-3 my-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link" href="https://softwarewiki.faridibin.tech">Home</a>
                            </li>
                            <li class="nav-item active">
                                <div class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true"
                                        class="dropdown-toggle nav-link nav-item arrow-bottom"
                                        data-toggle="dropdown-grid" href="#" role="button">Skills</a>
                                    <div class="row dropdown-menu">
                                        <div class="col-auto" data-dropdown-content>
                                            <div class="dropdown-grid-menu">
                                                <a href="https://softwarewiki.faridibin.tech/skills/coding"
                                                    class="dropdown-item active">
                                                    Coding
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/elicitation-of-requirements"
                                                    class="dropdown-item ">
                                                    Elicitation of Requirements
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/high-quality-documentation"
                                                    class="dropdown-item ">
                                                    High Quality Documentation
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/planning-measurement-process"
                                                    class="dropdown-item ">
                                                    Planning Measurement Process
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/problem-solving"
                                                    class="dropdown-item ">
                                                    Problem Solving
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/regression-testing"
                                                    class="dropdown-item ">
                                                    Regression Testing
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/user-interface-prototyping"
                                                    class="dropdown-item ">
                                                    User Interface Prototyping
                                                </a>
                                                <a href="https://softwarewiki.faridibin.tech/skills/verification-and-validation"
                                                    class="dropdown-item ">
                                                    Verification and Validation
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <form class="mt-3 mt-lg-0" method="GET" action="/search">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white pr-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-xs bg-dark"
                                            data-src="assets/img/icons/interface/icon-search.svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path
                                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                                stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                            <path d="M21 21L16.65 16.65" stroke="#2C3038" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <!-- Code injected by live-server -->
                                        </svg>
                                    </span>
                                </div>
                                <input class="form-control" placeholder="Type your search" type="search" name="q"
                                    value="">
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <section class="bg-light">
            <div class="container">
                <div class="row justify-content-between align-items-start">
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="d-flex">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="https://softwarewiki.faridibin.tech/skills">Skills</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="https://softwarewiki.faridibin.tech/skills/coding">User Interface Prototyping</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <h2 class="h1 mt-4">User Interface Prototyping <small>By Sri Akhil Varma Alluri (40082333)</small></h2>
                        <a href="#" class="badge badge-dark mb-3">Software Design</a>
                        <hr class="my-md-2 my-lg-3">
                        <div class="row">
                            <div class="col-xl-11">
                                <article class="article">
                                    <a href="#name-of-skill" class="text-dark h4 d-block" id="name-of-skill">Name of
                                        Skill</a>
                                        <p title="Name of Skill :">

                                            USER INTERFACE PROTOTYPING
                            
                                            </p>
                                           
                                    <a href="#classification-of-skill" class="text-dark h4 d-block"
                                        id="classification-of-skill">Classification of Skill</a>
                                        <p title="Classification of Skill :">
                    
                                            This skill can be classified as knowledge based skill and Technical skill as the skill is based on the knowledge of specific subject, procedures and information necessary to perform particular tasks.
                                            Which can also be acquired with the help of education, training or job experience.<br>

                                            It can also be classified as Transferable or Functional skill as it involves : <br>

                                            1.	Actions taken to perform a task, transferable to different work functions and industries <br>
                                            2.	Based on ability and aptitude <br>
                                            3.	Expressed in verbs <br>
     
                                            </p>

                                    <a href="#prerequisites-for-skill" class="text-dark h4 d-block"
                                        id="prerequisites-for-skill">Prerequisites for Skill</a>

                                    <p>
                                        1. Understanding of Software Requirements. <br>

                                        2. Understanding of Use-Case Story Board. <br>

                                        3. Creative Thinking and Attention to the details by understanding the underlying bussiness. <br>

                                        4. Well understanding on the UI design principles. <br>
 
                                        5. Knowledge on use of prototyping tools. <br>
                                    </p>

                                    <a href="#related-software-engineering" class="text-dark h4 d-block"
                                        id="related-software-engineering">Related Software Engineering Area(s)</a>
                                        <p>
                                            1. Software Testing - Usability Testing <br>
                                            2. Software Design - User Inteface Designing <br>
                                            3. Software Engineering Process - As part of Software Design Lifecycle <br>
                                        </p>
                                        
                                        <a href="#rationale-for-skill" class="text-dark h4 d-block"
                                        id="rationale-for-skill">Rationale for Skill</a>
                                        <p>
                                            For any software development there is need of prototypes inorder to know the design, look and end product of the software system. In case of software development, elicitation of requirements, use case diagrams and UML model diagrams help us to have an understanding of the system for all the stakeholders involved in the software design lifecycle. <br>
                                           
                                        </p>

                                        <p>
                                            But in case of web development along with the backend functionalities another important criteria is user interface using which a client or a customer interacts with the system based on how simple and userfriendly is the user interface it could attract more no. of customers. So in order to know the design of the user interface prior to the development of the final model a prototype is made to check the look and feel of the website which is helpful for the stakeholders to approve the design before the actual implementation which decreases both the cost and effort that are invested into development of the final model.
                                        </p>
                                    <a href="#roles-for-skill" class="text-dark h4 d-block" id="roles-for-skill">Roles
                                        for Skill</a>
                                        <p>
                                            1.	UI/UX designer <br>
                                            2.	Web Designer <br>
                                            3.	Graphic Designer <br>
                                            4.	Marketing Manager <br> 
                                            5.	Programmer <br>

                                        </p>
                                    <a href="#work-related-to-skill" class="text-dark h4 d-block"
                                        id="work-related-to-skill">Work Related to Skill</a>

                                        <p>
                                            Below are few job postings which describes the work / activities related to the skill.
                                        </p>
                                        <p>
                                            1. Graphic Designer: <br>

                                            Key Skills: <br>

                                            i)  Web / Application Visual Design <br>
                                            ii) High Proficiency in recent Design Tools <br>
                                            
                                            Related Activities: <br>

                                            •	Should be able to work independently from conceptualization to designing and have ability to think out-of-the-box, to create delightful, creative and contemporary User Interfaces and experiences <br>
                                            •	Proficiency and experience of working with Adobe Creative Suite, and prototyping tools <br>
                                            •	Should provide production ready specification, crops and design style-guide <br>
                                            •	Should understand basic principles of HTML, CSS and Front-end Development to ensure that the design is technically implementable <br>
                                        </p>
                                            <p>
                                               2.  UI Designer: <br>

                                                Key Skills: <br>

                                                i)   Excellent proficiency in all visual design & prototyping tools <br>
                                                ii)  Experience in design preferably delivering in products or services <br>
                                                iii) Fluency in Sketch, Axure, InVision, Adobe Creative Suite <br>

                                                Related Activities: <br>

                                                •	Create user flows, wireframes & designs that consider the user’s end to end experience <br>
                                                •	Creating design solutions, and executing product ready assets for final output & developer handoff <br>
                                                •	Ensure implementation of visual and interactive systems that help to guarantee that designs fit the technical specifications of the product or application <br>
                                                •	Adhere to design guidelines and brand standards <br>
                                                •	Utilize industry design standards and best practices towards the implement of design criteria, design guidelines, and design specs <br>

                                            </p>

                                        
                                    <a href="#real-world-example" class="text-dark h4 d-block"
                                        id="real-world-example">Real-World Example / Scenario of Skill</a>

                                        <p>
                                            The below video provides a clear idea on user interface prototyping with a real world exapmle.<br>
                                        </p>

                 
                                        <div>
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/B9mhOBAbsuo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                          <p>
                                            Video courtesy of 
                                            <a href="https://www.youtube.com/watch?v=B9mhOBAbsuo" target="_blank">Robert BradFord Youtube Channel</a>.
                                            </p>


                                    <a href="#role-of-academia" class="text-dark h4 d-block" id="role-of-academia">Role
                                        of Academia or Industry in Cultivating the Skill</a>

                                        <p>
                                            In Academia the life span of the user interface prototype is relatively shorter, where it is created for one time use or as a throwaway prototype because once the term or the project is completed it is no longer maintained or taken into consideration. And having less access to tools as some free tools or academic version of the tools may not provide all the available features can also be considered as one of the disadvantages in academia.
                                        </p>

                                        <p>
                                            But in Industry the life span of the skill is relatively longer where some prototypes are made to be throwaway or evolutionary prototypes, the decision is taken based on the requirements of the project and also the cost involved in developing those prototypes. In industry we are having a large variety of sophisticated tools where all the features are available for the UI developer.                                  
                                        </p>
                                    <a href="#tools-supporting-the-skill" class="text-dark h4 d-block"
                                        id="tools-supporting-the-skill">Tools Supporting the Skill</a>
                                        <p>
                                            1.)	InVision <br>
                                    
                                            2.)	Balsamiq <br>

                                            3.)	Justinmind <br>

                                            4.)	Figma <br>

                                            5.)	Adobe XD <br>

  
                                        </p>





                                    <a href="#skill-self-assessment" class="text-dark h4 d-block"
                                        id="skill-self-assessment">Skill Self-Assessment</a>
                                        <p>
                                            8/10 <br>
                                        </p>

                                        <p>
                                            Reason: <br>

                                            To be successful in learning any skill requires time and practice and in a skill like user interface prototyping most of our work is involved in satisfying the clients and customer requirements, in order to  match their needs we need to be in phase with the market standards and there is also a need to update our creative knowledge constantly. <br>


                                        </p>


                                    <a href="#references" class="text-dark h4 d-block" id="references">References</a>
                                    
                                        <p>
                                            <a href="https://www.skillscan.com/sites/default/files/Three%20Types%20of%20Skills%20Classification.pdf"></a>

                                        </p> 

                                        <p><a href="http://www.ambysoft.com/essays/userInterfacePrototyping.html"></a></p>

                                        <p><a href="https://www.linkedin.com/company/eteam/jobs/"></a></p>

                                        <p><a href="https://www.linkedin.com/company/motion-recruitment-partners/jobs/"></a></p>

                                        <p><a href="https://www.linkedin.com/jobs/search/?currentJobId=1937669138&geoId=101174742&keywords=user%20interface%20prototyping&location=Canada"></a></p>

                                        <p><a href="https://www.youtube.com/watch?v=B9mhOBAbsuo"></a></p>

                                        <p><a href="https://www.usertesting.com/blog/prototyping-tools-and-testing"></a></p>

                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col sticky-lg-top">
                        <div class="pl-xl-0">
                            <ul class="list-group mb-3 mb-md-4">
                                <div class="list-group-item">
                                    <h5 class="mb-0">Page Content</h5>
                                </div>
                                <a href="#name-of-skill" class="list-group-item list-group-item-action py-2">Name of
                                    Skill</a>
                                <a href="#classification-of-skill"
                                    class="list-group-item list-group-item-action py-2">Classification of Skill</a>
                                <a href="#prerequisites-for-skill"
                                    class="list-group-item list-group-item-action py-2">Prerequisites for Skill</a>
                                <a href="#related-software-engineering"
                                    class="list-group-item list-group-item-action py-2">Related Software Engineering
                                    Area(s)</a>
                                <a href="#rationale-for-skill"
                                    class="list-group-item list-group-item-action py-2">Rationale for Skill</a>
                                <a href="#roles-for-skill" class="list-group-item list-group-item-action py-2">Roles for
                                    Skill</a>
                                <a href="#work-related-to-skill"
                                    class="list-group-item list-group-item-action py-2">Work Related to Skill</a>
                                <a href="#real-world-example"
                                    class="list-group-item list-group-item-action py-2">Real-World Example</a>
                                <a href="#role-of-academia" class="list-group-item list-group-item-action py-2">Role of
                                    Academia or Industry in Cultivating the Skill</a>
                                <a href="#tools-supporting-the-skill"
                                    class="list-group-item list-group-item-action py-2">Tools Supporting the Skill</a>
                                <a href="#skill-self-assessment"
                                    class="list-group-item list-group-item-action py-2">Skill Self-Assessment</a>
                                <a href="#references" class="list-group-item list-group-item-action py-2">References</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class=" pt-4 pb-4 footer-1">
            <div class="container">
                <div
                    class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                    <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                            <div class="text-muted">
                                &copy; 2020 SESTOPIA - Team A
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mt-3 mt-lg-0">
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-3">
                                <a href="#" class="hover-fade-out">
                                    <img src="https://softwarewiki.faridibin.tech/images/github.svg" alt="Github"
                                        class="icon icon-xs bg-white" data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribeLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
            data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
            <img src="https://softwarewiki.faridibin.tech/images/icon-arrow-up.svg" alt="Icon" class="icon">
        </a>
    </div>
</body>

</html>
